<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="iris-datapipe.ZPM">
    <Module>
      <Name>iris-datapipe</Name>
      <Version>2.0.6</Version>
      <Description>DataPipe an interoperability framework to ingest data in InterSystems IRIS in a flexible way.</Description>
      <Keywords>datapipe ingestion staging validation</Keywords>
      <Author>
        <Person>InterSystems Iberia</Person>
        <Organization>InterSystems</Organization>
        <CopyrightDate>2024</CopyrightDate>
        <License>MIT</License>
      </Author>
      <Packaging>module</Packaging>
      <Dependencies>
        <ModuleReference>
          <Name>restforms2</Name>
          <Version>>=1.0.8</Version>
        </ModuleReference>
      </Dependencies>
      <Dependencies>
        <ModuleReference>
          <Name>pex-embbeded-python</Name>
          <Version>>=2.0.0</Version>
        </ModuleReference>
      </Dependencies>
      <FileCopy Name="src/python/DataPipe" Target="${libdir}python/DataPipe/"/>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="DataPipe.PKG"/>
      <CSPApplication 
        Url="/dpipe/api"
        Path="/src"
        Recurse="1"
        Directory="{$cspdir}/dpipe" 
        MatchRoles=":{$dbrole}"
        PasswordAuthEnabled="1"
        UnauthenticatedEnabled="0"
        DispatchClass="DataPipe.REST.Main"
        ServeFiles="1"
        CookiePath="/dpipe"
        UseCookies="2"
      />
      <SystemRequirements Interoperability="enabled" />
    </Module>
  </Document>
</Export>